.clock6
  .time_holder
  .rotating_clock
    .mark.one 1
    .mark.two 2
    .mark.three 3
    .mark.four 4
    .mark.five 5
    .mark.six 6
    .mark.seven 7
    .mark.eight 8
    .mark.nine 9
    .mark.ten 10
    .mark.eleven 11
    .mark.twelve 12
